<!DOCTYPE html> 
<html lang="es">
  <head>
    <title>Practica Layout</title>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="styles/styles.css">
      <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Piazzolla:wght@200&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h2>subtitulo de la pagina</h2>
      <h1>Titulo de la pagina</h1>
    </header>
    <section>
      <ul>
        <li>enlace1</li>
        <li>enlace2</li>
        <li>enlace3</li>
        <li>enlace4</li>
      </ul>
    </section>
    <section class="texto">
      <div class="Derecha1" >
        ARRIBA DERECHA sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="Izq1" >
        <span>ARRIBA IZQUIERDAr sit amet</span>, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="Derecha2" >
        ABAJO DERECHA amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="Izq2" >
        ABAJO IZQUIERDA sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </section>
  </body>
</html>