/*Styles para p1Esc1*/
div{
	border:0px solid black;
}

#mama{
	padding-top: 170px;
	padding-left: 100px;
}

#caperucita{
	padding-top: 210px;
}
#casa1{
	padding-top: 70px;
}
p::first-letter{
	font-size: xx-large;
}
#pt1Es1Text{
	padding-top: 20px;
	font-family: 'Kalam', cursive;
	font-size: 1.2em;
	color: rgb(33, 97, 140);
}
.btn{
	border-radius: 15px;
	margin-bottom: 20px;
	font-family: 'Kalam', cursive;
	font-size: 1.2em;
   letter-spacing: 0.3em;
}
 h1{
 	text-align: center;
 	font-family: 'Henny Penny', cursive;
 	color: rgb(231, 76, 60);
 	font-size: 3em;
 	text-shadow: 1px 1px 2px black;
 }


 body{
 	background-color: rgb(247, 249, 249);
 }
 #r2{
	background-image: url("../imagenes/f1.jpg") ;
	background-repeat: no-repeat;
	background-size: 100% 90% 
 }

#cape, #textoM{
	color: red;
}
.badge{
	margin-bottom: 20px;
	font-family: 'Kalam', cursive;
	font-size: 1.2em;
   letter-spacing: 0.3em;
}